streamlit
PyPDF2
logfire
supabase
openai
pydantic_ai 
python-dotenv
langchain
Markdown 
WeasyPrint
python-bidi
torch 
transformers
google-api-python-client
# bs4
# markdownify
# playwright
# youtube_transcript_api